<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)] ="opened"> 
    <h1>Post-Man-Lite</h1>
    <app-sidebar></app-sidebar>  
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="hamburger-lines" (click) = "sidenav.toggle()" >
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div> 
    <br><br> <br><br>
    <app-main-page></app-main-page>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<div class="container">
  <div class="side">
    <h1>Side Heading</h1>
    <mat-card class="first-card">
      <mat-card-title>Rest Controller</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="second-card">
      <mat-card-title>Rest Controller</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Favorite Place</mat-label>
          <mat-select>
            <mat-option *ngFor="let place of places" [value]="place.value">
              {{place.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card class="third-card">
      <mat-card-title>Rest Controller</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Favorite Sports</mat-label>
          <mat-select>
            <mat-option *ngFor="let sport of sports" [value]="sport.value">
              {{sport.viewValue}} </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="main">
    <h1>Main Heading</h1>
<div class="dotted-border">
      <mat-card class="first-main-card dotted-border">
        <mat-card-title>Request</mat-card-title>
        <mat-card-content>
          <p>POST</p>
        </mat-card-content>
      </mat-card>
      <br>

      <mat-card class="quad-card-left dotted-border">
        <mat-card-subtitle>Body</mat-card-subtitle>
        <mat-card-title>Body</mat-card-title>
        <mat-card-content>
          <p>Body</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="quad-card-right dotted-border">
        <mat-card-subtitle>Header</mat-card-subtitle>
        <mat-card-title>Header</mat-card-title>
        <mat-card-content>
          <p>Header</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
</div>
<div class="dotted-border">
    <mat-card class="quad-card-left dotted-border">
      <mat-card-subtitle>Response</mat-card-subtitle>
      <mat-card-title>Response</mat-card-title>
      <mat-card-content>
        <p>Response</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="quad-card-right dotted-border">
      <mat-card-subtitle>Subcription</mat-card-subtitle>
      <mat-card-title>Subcription</mat-card-title>
      <mat-card-content>
        <p>Subcription</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>