<mat-card class="first-card">
    <mat-card-title>Rest Controller</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option> Apple </mat-option>
              <mat-option> Banana </mat-option>
              <mat-option> Orange </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button>Submit</button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>