<div class = "side">
<mat-card class="first-card">
    <mat-card-title>Rest Controller</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Submit</button>
    </mat-card-content>
  </mat-card>
<br>
  <mat-card class="second-card">
    <mat-card-title>Rest Controller</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Favorite Place</mat-label>
            <mat-select>
                <mat-option *ngFor="let place of places" [value]="place.value">
                    {{place.viewValue}} </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Submit</button>
    </mat-card-content>
  </mat-card>
<br>
  <mat-card class="third-card">
    <mat-card-title>Rest Controller</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Favorite Sports</mat-label>
            <mat-select>
                <mat-option *ngFor="let sport of sports" [value]="sport.value">
                    {{sport.viewValue}} </mat-option> 
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary">Submit</button>
    </mat-card-content>
  </mat-card>
  </div>