<div class="main">

    <mat-card class="first-card">
        <mat-card-subtitle>Provision section</mat-card-subtitle>
        <mat-card-title>Provision section</mat-card-title>
        <mat-card-content>
          <p>This card contains a simple card with a section</p>
          <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
<br>
      <mat-card class="second-card">
        <mat-card-subtitle>Provision section</mat-card-subtitle>
        <mat-card-title>Provision section</mat-card-title>
        <mat-card-content>
          <p>This card contains a simple card with a section</p>
          <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
<br>
      <mat-card class="third-card">
        <mat-card-subtitle>Provision section</mat-card-subtitle>
        <mat-card-title>Provision section</mat-card-title>
        <mat-card-content>
          <p>This card contains a simple card with a section</p>
          <p>{{ longText }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>      
</div>

